/* 
 color     orange :#d35400;
           green :#44bd32;
           red :#EA2027;
           blue :#00a8ff;
           yellow:#fed330;

 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --color: #000;
}
body {
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--color);
  color: #fff;
  box-sizing: border-box;
}
#color {
  position: absolute;
  top: 20px;
  right: 20px;
}
#color input {
  color: #fff;
  background-color: var(--color);
  border-color: #fff;
  padding: 10px 20px;
  font-size: 35%;
  border-radius: 150px;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  font-size: 120%;
  margin-bottom: 10%;
}
.container h1 span {
  color: #666;
}
/* button group */
.btn {
  color: #fff;
  background-color: var(--color);
  border-color: #fff;
  padding: 2% 7%;
  font-size: 40%;
  border-radius: 150px;
  margin-top: 10%;
}
.btn:hover {
  color: var(--color);
  background-color: #fff;
}

/* responsive site */
@media only screen and (max-width: 1200px) {
  .container,
  #color {
    font-size: 90%;
  }
}
@media only screen and (max-width: 1023px) {
  .container,
  #color {
    font-size: 80%;
  }
}
@media only screen and (max-width: 767px) {
  .container,
  #color {
    font-size: 65%;
  }
}
@media only screen and (max-width: 480px) {
  .container,
  #color {
    font-size: 10px;
  }
}
